* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 121, 255, 0.12);
}



.createTaskDiv {
  background-color: #85a2f2;
  border-radius: 12px;
  border: 6px solid #507cf5;
  /* vertical-align: top; */
  position: sticky;
  top: 0%;
}

.createTaskForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.createTaskForm h1 {
  font-family: "COCOGOOSE";
  font-size: 12pt;
  padding: 0px;
  margin: 0px 0px 5px 0px;
  color: white;
}

.createTaskForm input /*[name="username"]*/ {
  border: none;
  outline: none;
  padding: 4px;
  border-radius: 3px;
  margin: 4px 0px;
}

.createTaskForm textarea {
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 4px 0px;
  resize: none;
}

.createTaskForm label {
  font-family: "COCOGOOSE";
  font-size: 10pt;
  padding: 0px;
  margin: 2px 0px 2px 0px;
  color: white;
}

.createTaskForm input[type="submit"] {
  background-color: #f6f6f5;
  color: #5b78cf;
  font-family: "COCOGOOSE";
  transition: 0.3s;
}

.createTaskForm input[type="submit"]:hover {
  background-color: #cad0e0;
  color: #5f85f5;
  cursor: pointer;
  transition: 0.3s;
}

.taskssDiv {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  /* vertical-align: top; */
  position: relative;
  padding: 40px 0px;
}
.mainDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.outerTasksDiv {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(25, 121, 255, 0.12);
  padding: 20px 50px;
  /* opacity: 5%; */
}

.outerTasksDiv h1,
h2 {
  /* not direct h1 child */
  color: white;
  font-family: sans-serif;
  font-size: 20pt;
}

.taskListDiv {
  /* background-color: white; */
  border-radius: 20px;
  padding: 17px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskOptionsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* media query mobile, make div column and edit button just like showMore */

.stickDiv {
  width: 7px;
  height: 70px;
  margin: 0px 10px;
  border-radius: 20px;
  background-color: #85a2f2;
}

.horizontalStickDiv {
  width: 200px;
  height: 7px;
  margin: 10px 0px;
  border-radius: 20px;
  background-color: #85a2f2;
}

.newTaskDiv {
  background-color: #507cf5;
  border-radius: 20px 20px 0px 0px;
  padding: 6px 15px;
  /* width: 40%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newTaskDiv div {
  margin: 0px 10px;
}

.showMoreDiv {
  width: 100%;
  background-color: #85a2f2;
  text-align: center;
  padding: 5px 0px;
  cursor: pointer;
  transition: 0.8s ease;
}

.showMoreDiv:hover {
  background-color: #718bd1;
  transition: 0.8s ease;
}
.showMore {
  color: white;
  /* width: 100%; */
  text-align: center;
  font-family: "COCOGOOSE";
  font-size: 10pt;
}

.newTaskDivDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
}

.taskIdDiv h1 {
  margin: 0px;
  font-size: 15pt;
}
.taskIdDiv {
  padding: 6px 13px;
  background-color: lightblue;
  border-radius: 20px;
}

.taskTitleDiv h1,
h2 {
  margin: 5px 0px;
  font-size: 12pt;
}

.taskDescDiv {
  /*  */
}

.taskTitleDescDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#welcomeBack {
  color: #5e82f8;
}

.editBtn {
  background-color: #0fd87a;
  padding: 50px 18px;
  border-radius: 20px;
  height: 100%;
  border: none;
  font-family: sans-serif;
  color: white;
  font-size: 12pt;
  text-align: center;
  font-family: "COCOGOOSE";
}

.deleteBtnDiv {
  padding: 10px 0px;
  background-color: #fd4c66;
  text-align: center;
  padding: 5px 0px;
  cursor: pointer;
  width: 20%;
  transition: 0.8s ease;
}

.deleteBtnDiv:hover {
  background-color: #d33c43;
  transition: 0.8s ease;
}
.deleteBtn {
  /* padding: 50px 18px; */
  /* border-radius: 20px; */
  /* height: 100%; */
  border: none;
  font-family: sans-serif;
  color: white;
  font-size: 10pt;
  text-align: center;
  font-family: "COCOGOOSE";
}

.delShowDiv {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

/* POPUP WINDOW ALL STYLES */
/*  */

.filterBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the filterBlur div is below the popUpEditWindow */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Semi-transparent background to create the overlay effect */
  backdrop-filter: blur(0px); /* go from 0 to 5 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}
.popUpEditWindow {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px; /* go from 600 to 900 */
  height: 100px; /* go from 400 to 700 */
  border-radius: 20px;
  padding: 40px 65px;
  border-left: 9px solid #b4bbc4;
  border-bottom: 7px solid #b4bbc4;
  z-index: 0;
  background-color: white;
  transition: 0.6s ease;
  transition-delay: 0.1s;
  opacity: 0;
}
.popUpEditWindow label {
  font-family: "COCOGOOSE";
  color: #8a9098;
}
.textAreasDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.textAreasDiv div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.textAreasDiv input[type="text"] {
  transition: box-shadow 0.5s linear;
  outline: none;
  box-shadow: 1px #8a9098;
}
/* Remove the extra outline later */
.textAreasDiv textarea {
  transition: box-shadow 0.5s linear;
  outline: none;
  box-shadow: 1px #8a9098;
  resize: none;
}
.textAreasDiv textarea:focus {
  box-shadow: 3px 3px #8a9098;
  transition: 0.6s ease;
  outline: none;
}
.textAreasDiv input[type="text"]:focus {
  box-shadow: 3px 3px #8a9098;
  outline: none;
  transition: 0.6s ease;
}
.dateAreasDiv {
  padding: 10px;
}
.dateAreasDiv div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.dateAreasDiv label {
  font-size: 12pt;
}
.dateAreasDiv input[type="date"] {
  background-color: #8a9098;
  color: white;
  font-family: "Franklin Gothic";
  font-size: 10pt;
  border: none;
  outline: none;
  padding: 2px 4px;
  border-radius: 5px;
}
.taskEditSubmitDiv {
  position: relative;
  bottom: 0px;
  margin-top: 20px;
}
.taskEditSubmitDiv input[type="submit"] {
  color: white;
  padding: 8px 13px;
  transform: scale(1);
  background-color: #0fd87a;
  font-family: "COCOGOOSE";
  border: none;
  outline: none;
  transition: 0.3s ease;
}
.taskEditSubmitDiv input[type="submit"]:hover {
  border-radius: 4px;
  background-color: #00c95a;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.taskEditSubmitDiv input[type="submit"]:active {
  /* padding: 5px 11px; */
  transform: scale(0.8);
  background-color: #00c95a;
  transition: 0.3s ease;
}
.taskEditSubmitDiv input[type="submit"]:focus {
}
.closePopUp {
  border: none;
  outline: none;
  background-color: #fd4c66;
  color: white;
  font-family: "COCOGOOSE";
  padding: 8px 12px;
  border-radius: 2px;
  transition: 0.2s;
}
.closePopUp:hover {
  background-color: #e3445b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
