* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#firstMessageDiv > * {
  color: white;
}

#firstMessageDiv {
  background-color: #fd4c66;
}

.outerTasksDiv {
  width: 80%;
  border-radius: 20px;
  background-color: rgb(25, 121, 255, 0.12);
  padding: 20px 50px;
  /* opacity: 5%; */
}

.outerTasksDiv h1,
h2 {
  /* not direct h1 child */
  color: white;
  font-family: sans-serif;
  font-size: 20pt;
}

.stickDiv {
  width: 7px;
  height: 70px;
  margin: 0px 10px;
  border-radius: 20px;
  background-color: #85a2f2;
}

.horizontalStickDiv {
  width: 200px;
  height: 7px;
  margin: 10px 0px;
  border-radius: 20px;
  background-color: #85a2f2;
}

.taskListDiv {
  background-color: white;
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newTaskDiv {
  background-color: #507cf5;
  border-radius: 20px 20px 0px 0px;
  padding: 10px 15px;
  /* width: 40%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newTaskDiv div {
  margin: 0px 10px;
}

.showMoreDiv {
  width: 100%;
  background-color: #85a2f2;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  transition: 0.8s ease;
}

.showMoreDiv:hover {
  background-color: #718bd1;
  transition: 0.8s ease;
}
.showMore {
  color: white;
  /* width: 100%; */
  text-align: center;
  font-family: "COCOGOOSE";
}

.newTaskDivDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskIdDiv h1 {
  margin: 0px;
}
.taskIdDiv {
  padding: 15px 25px;
  background-color: lightblue;
  border-radius: 20px;
}

.taskTitleDiv h1,
h2 {
  margin: 5px 0px;
}

.taskDescDiv {
  /*  */
}

.taskTitleDescDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcomeBack {
  color: #5e82f8;
}
